<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="imag">
        <figure>
            <img src='${productray[i]['blogimg']}' width='30%'>
            <figcaption>${productray[i]['blogauthor']}</figcaption>
        </figure>
        <div id="price">
            <h3>PRICE:${productray[i]['authorcontact']}</h3>
        </div>
        <div id="incred">
             <i class="fas fa-angle-up"></i>
             <i class="fas fa-angle-down"></i>
        </div>
   </div> 
</body>
</html>