<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/del" method="post" >
        <input type="email" placeholder="inputthe email you want to delete" name="email">
        <input type="submit" value="delete">
    </form>
</body>
</html>