<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <select class="form-select" id="category" aria-label="Default select example" name="category">
            <option selected>Choose Blog Category</option>
            <option value="technology" name="category">Technology</option>
            <option value="project" name="projects">Project</option>
            <option value="news" name="news">News</option>   
        </select>
    </div>
</body>
</html>