<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        img{
            width: 500px;
    height: 500px;
   
        }
</style>


<section style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; gap: 30px ;">
    
    <% galery.forEach (galery=>{%>
        <div>
            <img src="<%= galery.blogimg%>" alt="blogimage content" width="100%">
    
      </div>
  
     <%});%>     
     
</section>

</body>
</html>